html{
  background: url('http://www.jpl.nasa.gov/assets/images/content/tmp/home/missions_bg_image.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow: hidden;
}
div{
  position: relative;
  top: calc(50% - 400px);
  margin: 0;
  left: calc(50% - 500px);
}
h1{
  color: white;
}
