html{
  background: url('http://www.jpl.nasa.gov/assets/images/content/tmp/home/missions_bg_image.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow: hidden;
font-family: 'Orbitron', sans-serif;
}
body{
  height: 100%;
  width: 100%;
}
.board{
  position: fixed;
  top: 5%;
  right: 0;
  margin: 0;
  left: calc(69% - 400px);
  border: 4px solid rgba(54, 250, 122, 0.5);
  width: 801px;
}
h1{
  color: white;
  font-size: 70px;
  width: 450px;
  color: white;
}
h2{
  position: absolute;
  left: calc(50% - 400px);
  color: white;
  margin: 0 auto;
  font-size: 35px;
  width: 800px;
  color: white;
}
.namegroup{
  color: white;
  position: absolute;
  left: 0%;
  top: 35%;
  margin: 10px;
  background: rgba(54, 87, 122, 0.5);
  padding: 10px;
  border-radius: 5px;
}
.description{
  color: white;
  position: absolute;
  left: 0%;
  top: 15%;
  margin: 10px;
  background: rgba(54, 87, 122, 0.5);
  padding: 10px;
  border-radius: 5px;
}
.footer{
  position: fixed;
  top: calc(100% - 45px);
  left: 0;
  width: 100%;
  height: 45px;
  font-weight: 300;
  color: white;
  background-color: rgba(54, 87, 122, 0.5);
  line-height: 45px;
  text-align: center;
}
.gitlink{
  color: white;
  position: relative;
}
.gitlink:hover{
  cursor: pointer;
}
